<div ng-show="ownerShow">
  <div class="container">
    <div class="row row-content">
        <ul class="media-list">
            <li class="media" ng-repeat="history in histories | toArray ">
                <div class="col-xs-12 col-sm-6 ">
                <div class="media-body">
                    <h2 class="media-heading">{{history.garage}}
                        <small>{{history.location}}</small></h2>
                    <p>{{history.date}}</p>
                    <p>{{history.time}}</p>
                    </hr>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row row-content">
    {{histories}}
</div>
</div>
</div>
<div align="center" ng-show="mechanicShow">
  <div>
    <h1>Please login as owner</h1>
</div>
</div>